{%include "base.html" %}


{% block body %}
<div class="mx-auto" style="max-width: 400px;">
    <!-- Formulario -->
    <form   action="{% url 'registrar' %}"     method="POST" class="mb-4 border p-4 rounded">
        {% csrf_token %}
        <div class="mb-3">
            <label for="knombre" class="form-label">Nombre</label>
            <input type="text" id="knombre" name="knombre" class="form-control" placeholder="Nombre" required>
        </div>
        <div class="mb-3">
            <label for="kapellido" class="form-label">Apellido</label>
            <input type="text" id="kapellido" name="kapellido" class="form-control" placeholder="Apellido" required>
        </div>
        <div class="mb-3">
            <label for="kcorreo" class="form-label">Correo</label>
            <input type="text" id="kcorreo" name="kcorreo" class="form-control" placeholder="Correo" required>
        </div>
        <div class="mb-3">
            <label for="kedad" class="form-label">Edad</label>
            <input type="number" id="kedad" name="kedad" class="form-control" placeholder="Edad" required>
        </div>
       
        <label for="kestado">Estado tarea:</label>
        <select id="kestado" name="kestado">
            {% for estado in estados %}
                <option value="{{ estado.id }}">{{ estado.nombre }}</option>
            {% endfor %}
        </select><br>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
</div>
{% endblock %}