{% extends "index.html" %}

{%block body%}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-body">
            <form method="post" action="{% url 'custom_reset_password'  %}"class="reset-form">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_email" class="form-label">Correo electrónico:</label>
                    <input type="email" name="email" id="id_email" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Enviar correo de reinicio de contraseña</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>



{%endblock body%}